// Rouge GitHub Light Theme – angepasst für helle Layouts
// Quelle: https://github.com/jneen/rouge/blob/master/lib/rouge/themes/github.rb

.highlight {
  background-color: #f6f8fa;
  color: #24292e;
  border-radius: 6px;
  padding: 1em;
  overflow-x: auto;
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 0.95em;
  line-height: 1.5;
}

.highlight pre {
  margin: 0;
  background: transparent;
  padding: 0;
  border: none;
}

.highlight .c  { color: #6a737d; font-style: italic } /* Comment */
.highlight .err{ color: #d73a49; background-color: #fdd } /* Error */
.highlight .k  { color: #d73a49; font-weight: 600 } /* Keyword */
.highlight .o  { color: #d73a49 } /* Operator */
.highlight .n  { color: #24292e } /* Name */
.highlight .p  { color: #24292e } /* Punctuation */
.highlight .cm { color: #6a737d; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #005cc5 } /* Comment.Preproc */
.highlight .c1 { color: #6a737d; font-style: italic } /* Comment.Single */
.highlight .cs { color: #005cc5; font-weight: 600 } /* Comment.Special */
.highlight .gd { color: #b31d28; background-color: #ffeef0 } /* Generic.Deleted */
.highlight .gi { color: #22863a; background-color: #f0fff4 } /* Generic.Inserted */
.highlight .kc { color: #005cc5 } /* Keyword.Constant */
.highlight .kd { color: #d73a49; font-weight: 600 } /* Keyword.Declaration */
.highlight .kn { color: #d73a49; font-weight: 600 } /* Keyword.Namespace */
.highlight .kp { color: #d73a49 } /* Keyword.Pseudo */
.highlight .kr { color: #d73a49; font-weight: 600 } /* Keyword.Reserved */
.highlight .kt { color: #005cc5; font-weight: 600 } /* Keyword.Type */
.highlight .m  { color: #005cc5 } /* Literal.Number */
.highlight .s  { color: #032f62 } /* Literal.String */
.highlight .na { color: #005cc5 } /* Name.Attribute */
.highlight .nb { color: #24292e } /* Name.Builtin */
.highlight .nc { color: #6f42c1; font-weight: 600 } /* Name.Class */
.highlight .no { color: #005cc5 } /* Name.Constant */
.highlight .nd { color: #6f42c1 } /* Name.Decorator */
.highlight .ni { color: #24292e } /* Name.Entity */
.highlight .ne { color: #d73a49; font-weight: 600 } /* Name.Exception */
.highlight .nf { color: #6f42c1 } /* Name.Function */
.highlight .nn { color: #6f42c1 } /* Name.Namespace */
.highlight .nt { color: #22863a } /* Name.Tag */
.highlight .nv { color: #24292e } /* Name.Variable */
.highlight .ow { color: #d73a49; font-weight: 600 } /* Operator.Word */
.highlight .w  { color: #999999 } /* Text.Whitespace */
.highlight .mf { color: #005cc5 } /* Literal.Number.Float */
.highlight .mh { color: #005cc5 } /* Literal.Number.Hex */
.highlight .mi { color: #005cc5 } /* Literal.Number.Integer */
.highlight .mo { color: #005cc5 } /* Literal.Number.Oct */
.highlight .sb { color: #032f62 } /* Literal.String.Backtick */
.highlight .sc { color: #032f62 } /* Literal.String.Char */
.highlight .sd { color: #032f62 } /* Literal.String.Doc */
.highlight .s2 { color: #032f62 } /* Literal.String.Double */
.highlight .se { color: #032f62 } /* Literal.String.Escape */
.highlight .sh { color: #032f62 } /* Literal.String.Heredoc */
.highlight .si { color: #005cc5 } /* Literal.String.Interpol */
.highlight .sr { color: #032f62 } /* Literal.String.Regex */
.highlight .s1 { color: #032f62 } /* Literal.String.Single */
.highlight .ss { color: #005cc5 } /* Literal.String.Symbol */