.current {
  color: green;
}

.right-aligned {
  text-align: right;
}

body {
  font-family: "Helvetica";
  padding: 25px;
  background-color: #f2f2f2;
}

h1 {
  font-family: "Helvetica";
  padding-top: 15px;
  padding-bottom: 15px;
}

h2 {
  font-family: "Helvetica";
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

footer {
  padding-top: 50px;
}
