.current {
  color: green;
}

.right-aligned {
  text-align: right;
}

.breadcrumbs { font-size: .95rem; margin: .5rem 0 1rem; }
.breadcrumbs a { text-decoration: none; }
.breadcrumbs [aria-current="page"] { font-weight: 600; }

body {
  font-family: "Helvetica";
  padding: 30px;
  background-color: #f2f2f2;
  width: 80%;
}

h1 {
  padding-top: 65px;
  padding-bottom: 15px;
}

h2 {
  padding-top: 50px;
  padding-bottom: 10px;
}

h3 {
  padding-top: 25px;
}

h4 {
  padding-top: 20px;
}

h5 {
  padding-top: 15px;
}

h6 {
  padding-top: 10px;
}

h2 + h3 {
  padding-top: 5px;
}

h3 + h4 {
  padding-top: 5px;
}

a {
  text-decoration: none;
}

footer {
  padding-top: 50px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

@import "rouge";
