<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% include head/custom.html %}
  </head>
  <body>
    <header>
    {% include breadcrumbs.html %}
    </header>
    {{ content }}
    <footer role="contentinfo">
      <p class="right-aligned">
        <!-- <small>{{ 'now' | date: "%d.%m.%Y" }}</small> page.date -->
        {% if page.last_modified_at %}
        <small>Letzte Aktualisierung: {{ page.last_modified_at | date: "%d.%m.%Y" }}</small>
        {% endif %}
      </p>
    </footer>
  </body>
</html>